/node_modules
/public/hot
/public/storage
/public/js
/public/schooluniform/configurations
/public/mix-manifest.json
/storage/*.key
/storage/logs/*.log
/storage/framework/views/*.php
package-lock.json
storage/debugbar
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.htaccess