<?xml version="1.0" encoding="utf-8"?>
<menus>
    <group name="General" order="1">
        <menugroup name="Users" icon="bx bx-user" order="1">
            <menu name="View Users" route="user.index" />
            <menu name="Add User" route="user.create" />
        </menugroup>
    </group>
</menus>